RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.(css|js|scss)$ /public/$1.$2 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/include/(.*)$ /include/$1 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /index.php [L]

